@import url('https://fonts.googleapis.com/css2?family=Roboto+Condensed:ital,wght@0,300;0,400;0,700;1,300;1,400;1,700&family=Roboto+Mono:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;1,100;1,200;1,300;1,400;1,500;1,600;1,700&family=Roboto:ital,wght@0,100;0,300;0,400;0,500;1,100;1,300;1,400;1,500&display=swap');

/* 

font-family: 'Roboto', sans-serif;
font-family: 'Roboto Condensed', sans-serif;
font-family: 'Roboto Mono', monospace;

*/
* {
  margin: 0;
  padding: 0;
  box-sizing: content-box;
  /* overflow: hidden; */
}

body {
  width: 100vw;
  height: 100vh;
  overflow-x: hidden;
}

/* MAIN */
.main {
  width: 100vw;
  height: 100vh;
  background-color: black;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.main-center-top {
  display: flex;
  align-items: center;
  justify-content: space-between;
  margin: 25px;
}

.top-container-left {
  position: relative;
  padding: 50px;
  display: flex;
  /* margin-right: 200px; */
}

.main-top-border {
  width: 270px;
  height: 350px;
  border: 1px solid #898989;
  position: absolute;
  top: 100px;
  right: 20px;
  border-radius: 122.5px 122.5px 0px 0px;

}

.mainMaybe {
  border-radius: 122.5px 122.5px 0px 0px;
  z-index: 1;
}

.top-container-right {
  margin-left: 100px;
}

.main-logo {
  z-index: 10000;
  font-family: 'Roboto Condensed', sans-serif;
  font-weight: 550;
  font-size: 90px;
  color: white;
  position: absolute;
  top: 266px;
  left: -6px;
}

.p-main {
  font-family: 'Roboto Mono', monospace;
  font-weight: 200;
  font-size: 22px;
  line-height: 29px;
  text-align: center;
  color: white;
  width: 650px;
  line-height: 1.8;
  margin-right: 45px;
  margin-top: 45px;
  padding: 0;
}

.main-bottom-border {
  width: 430px;
  height: 280px;
  border: 1px solid #898989;
  position: absolute;
  top: 35px;
  right: 25px;
  /* border-radius: 122.5px 122.5px 0px 0px; */
}

.main-center-bottom {
  position: relative;
  padding-bottom: 60px;
  display: flex;
  align-items: center;
  justify-content: space-around;
  margin: 25px;

}

.bottom-picture {
  z-index: 1;

}

.tag-line {
  width: 396px;
  height: 200px;
  font-family: Roboto Mono;
  font-style: normal;
  font-weight: 300;
  font-size: 48px;
  line-height: 63px;

  color: #FFFFFF;
}

.center {
  width: 100px;
}

.inbetween-top-bottom {
  height: 100px;
}

/*! RIGHT NAV */

.rightNav {
  height: 100%;
  width: 7vw;
  /* background-color: white; */
  display: flex;
  justify-content: space-between;
  flex-direction: column;
  align-items: center;
  padding-top: 50px;
  padding-bottom: 50px;
  /* position: sticky; */

}

.nav-center {
  font-family: Roboto;
  font-style: normal;
  font-weight: 300;
  font-size: 64px;
  line-height: 84px;
  margin-right: 0px;
  text-align: center;
  color: #606060;
  width: 300px;
}

.rightNav-left {
  margin-top: 100px;

}

.nav-left-text {
  font-family: Roboto;
  font-weight: 300;
  font-size: 28px;
  line-height: 28px;
  letter-spacing: 2px;
  color: #000000;
}

.rightNav-right {
  display: flex;
  flex-direction: column;
  align-items: center;
  margin-right: 10px;
}

.cart-icon {
  font-size: 55px;
  margin: 25px;
}

.rightNav-p {
  margin-bottom: 40px;
  font-family: Roboto;
  font-weight: 300;
  font-size: 18px;
  line-height: 28px;
  letter-spacing: 2px;
  padding-right: 100px;
}

.rightNav-center {
  margin-bottom: 75px;
}

.rightNav-left,
.rightNav-center,
.rightNav-p {
  transform: rotate(90deg);
}


/*! LEFT NAV */

.leftNav {
  width: 7vw;
  height: 87vh;
  /* border: 2px solid white; */
  /* color: white;
  border-right: 2px solid white; */
  display: flex;
  justify-content: center;
  flex-direction: column;
  align-items: center;
}
.shop {
  font-size: 64px;
}
.left-text {
  transform: rotate(-90deg);
  font-family: Roboto Mono;
  font-style: normal;
  font-weight: 300;
  font-size: 64px;
  line-height: 63px;
  text-align: center;
  width: 500px;
  
}

/* CATEGORIES */
.categories {
  width: 100vw;
  height: 100vh;
  background-color: rgb(255, 255, 255);
  display: flex;
  justify-content: space-between;
  align-items: center;
  overflow: hidden;
  position: relative;
  overflow: hidden;
}

/* CATEGORIES */

.categoryOutline-container {
  position: relative;
  margin: 10px;
  transition: transform 0.3s ease;
  transform: translateX(0px);
  background-color: #ffff;
  cursor: pointer;
}

/* .categories-body {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr 1fr;
  border-radius: 5px;
} */

.categoryOutline-container:hover {
  transition: transform 0.3s ease-in;
  -webkit-transform: scale(1.1) rotate(0.01deg);
  transform: scale(1.1) rotate(0.01deg);
  color: darkseagreen;
}

.holdOn {
  z-index: 1;
  border-radius: 5px;
}

.holdOn:hover {
  z-index: 1;
}

.product-category {
  font-family: Roboto;
  font-style: normal;
  font-weight: 300;
  font-size: 32px;
  line-height: 35px;
  text-align: center;
  color: grey;
  z-index: 1000;
  text-transform: uppercase;
  padding-right: 5px;

}

.product-category:hover {
  color: cadetblue;
  /* transition: transform 0.3s ease;
  transition: transform 0.3s ease-in-out;
  -webkit-transform: scale(1.3) rotate(0.01deg);
  transform: scale(1.3) rotate(0.01deg);
  position: absolute;
  bottom: 0;
  right: 21px;
  line-height: 45px; */
}

.small {
  margin-top: 0;
  margin-bottom: 300px;

}

.large {
  margin-top: 100px;
  margin-bottom: 0px;
}

/* PRODUCT PAGE (FACE, BODY, TOOLS, ONSALE) */
.category-card {
  background-color: black;
  width: 30vw;
  height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-between;


}
.product-card:hover{
  transition: transform 0.3s ease-in;
  -webkit-transform: scale(1.1) rotate(0.01deg);
  transform: scale(1.1) rotate(0.01deg);
  color: palevioletred;
}
.product-card h1:hover{
  color: palevioletred;
}
.category-card-insides {
  padding: 40px;
  margin-bottom: 80px;
}

.face-card {
  padding: 40px;
  z-index: 1;
}

.left-products-info {
  display: flex;
}

.quote,
.mini-paragraph-section {
  color: #FFFFFF;
}

.quote {
  width: 275px;
  height: 300px;
}

.quote-h1 {
  margin-top: 25px;
  font-family: Roboto;
  font-weight: 200;
  font-size: 40px;
  line-height: 42px;
  text-align: center;
}

.category-card {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-evenly;
  position: relative;
}

.quote-header {
  font-family: Roboto;
  font-style: 200;
  font-weight: 300;
  font-size: 36px;
  line-height: 42px;
  text-align: center;
  width: 358px;
  height: 126px;
}

.card-outline {
  width: 340px;
  height: 510px;
  border: 1px solid #898989;
  position: absolute;
  top: 90px;
  right: 100px;
  display: flex;
  flex-direction: column;
  align-items: flex-end;
  justify-content: flex-end
}

.card-outline-h1 {
  font-family: Roboto;
  font-style: normal;
  font-weight: 300;
  font-size: 36px;
  line-height: 35px;
  text-align: center;
  color: grey;
  z-index: 1000;
  text-transform: uppercase;
  padding-right: 5px;

}

.mini-paragraph-section {
  width: 400px;
  height: 500px;
  margin-top: 125px;
}

.phrase {
  font-family: Roboto;
  font-style: normal;
  font-weight: 200;
  font-size: 28px;
  line-height: 21px;
}

.mini-paragraph {
  font-family: Roboto;
  font-style: normal;
  font-weight: 200;
  font-size: 22px;
  line-height: 25px;
}

.product-card {
  position: relative;
  margin-top: 25px;
  /* margin-left: 10px; */
}

.product-card-border {
  /* color: pink; */
  display: flex;
  flex-direction: row;
  align-items: flex-end;
  justify-content: space-between;
  align-content: stretch;
  flex-wrap: wrap;
}

.product-header,
.price {
  font-family: Roboto;
  font-style: normal;
  font-weight: 300;
  font-size: 18px;
  line-height: 21px;
  text-align: right;
  /* padding: 10px; */
}

.product-header {
  padding: 14px;
  font-size: 22px
}

.price {
  padding: 8px;
}

.product-card-image {
  z-index: 1;
  object-fit: cover;
}

.list-of-products {
  height: 90vh;
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
}

.wtf {
  padding-top: 40px;
  overflow: scroll;
  background-color: rgba(248, 248, 248, 0.534);
  width: 45vw;
  min-height: 80vh;
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  grid-auto-rows: 1fr;
  align-items: start;
  justify-items: center;
  grid-column-gap: 6em;
  grid-row-gap: 5em;
  /* took multiple divs to align elements */
}

a {
  /* color: black; */
  text-decoration: none;
}

a:hover {
  color: hotpink;
  text-decoration: none;
  cursor: pointer;
}

.middle {
  display: flex;
  /* align-items: center; */
  justify-content: space-between;
}

.product-container {
  width: 100vw;
  height: 100vh;
  background-color: black;
  display: flex;
  justify-content: space-between;
  align-items: center;
  overflow: hidden;
  position: relative;
  overflow: hidden;
}

.image-display {
  position: relative;
  bottom: 90px;
}

.selected-image {
  border-radius: 170px 170px 0px 0px;
  z-index: 1;
  object-fit: cover;
}

.sub-images {
  display: flex;
  flex-direction: row;
  align-items: center;

  /* align-content: flex-start; */
}

.img {
  margin: 0 10px 5px 0;
  overflow: scroll;
}

.sub-images {
  margin-left: 10px;
  object-fit: cover;
}

button {
  background: none;
  color: inherit;
  border: none;
  padding: 0;
  font: inherit;
  cursor: pointer;
  outline: inherit;
}

.item-description {
  color: white;
  /* background-color: pink; */
  height: 82vh;
  width: 40vw;
  display: flex;
  flex-direction: column;
  align-items: flex-end;
  text-align: flex-end;
  padding-right: 20px;
}

.title-header {
  /* border: 1px solid white; */
  font-family: Roboto Mono;
  font-style: normal;
  font-weight: 300;
  font-size: 75px;
  line-height: 84px;
  text-align: right;
  color: white;
  width: 550px;
  border-bottom: 1px solid #E5E5E5;
  padding-bottom: 15px;
}

.line-through {}

.desc {
  font-family: Roboto Mono;
  font-style: normal;
  font-weight: 300;
  font-size: 26px;
  line-height: 32px;
  text-align: right;
  color: #C4C4C4;
  width: 550px;
  padding: 20px 0 30px 0;
  margin: 15px 0 15px 0;
  line-height: 40px;
}

.subDesc {
  font-family: Roboto Mono;
  font-style: normal;
  font-weight: 300;
  font-size: 16px;
  line-height: 24px;
  text-align: right;
  color: white;
  width: 550px;
  margin: 25px 0 7px 0;
}

.item-subDesc {
  margin-bottom: 50px;
}

.cri-body {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  width: 670px;
  /* background-color: gold; */
  text-align: center;
  border-bottom: 1px solid white;
}

.cri-container h2 {
  font-family: Roboto Mono;
  font-style: normal;
  font-weight: 300;
  font-size: 20px;
  line-height: 24px;
  text-align: center;
  color: #FFFFFF;
  margin: 15px;
}

.spacer {
  border: 1px solid white;
  height: 30px;
}

.ingredients-container {
  width: 525px;
  background: #1B1B1B;
  border: 1px solid #FFFFFF;
  box-sizing: border-box;
  border-radius: 10px;
  margin-bottom: 30px;
  margin-left: 10px;
}

.ingredients-container p {
  width: 500px;
  text-align: center;
  padding: 10px;
}

.buttons {
  display: flex;
  flex-direction: column;
  align-items: center;
  /* background-color: chocolate; */
  height: 400px;
  font-family: Roboto Mono;
  font-style: normal;
  font-weight: 300;
  font-size: 15px;
  line-height: 20px;
  text-align: right;
  color: #FFFFFF;
}

.reviews-container {
  display: flex;
  justify-content: space-around;
  align-items: center;
  background: #1B1B1B;
  border: 1px solid #FFFFFF;
  box-sizing: border-box;
  border-radius: 10px;
  padding: 25px;
  width: 650px;
  height: 200px;
  margin: 15px;
  /* overflow: scroll; */
}

.reviewer-name-stars {
  display: flex;
  flex-direction: row;
  justify-content: flex-end;
  align-items: center;
  padding: 10px;
}

.reviewer-name-stars p {
  padding-left: 10px;
}

.review-title h1 {
  font-family: Roboto Mono;
  font-style: normal;
  font-weight: 300;
  /* font-size: 30px; */
  line-height: 24px;
  text-align: right;
  color: #FFFFFF;
  margin-bottom: 5px;
}

.reviewer-name-stars h4 {
  font-family: Roboto Mono;
  font-style: normal;
  font-weight: 100;
  font-size: 20px;
  line-height: 18px;
  text-align: right;
  color: #FFFFFF;
}

.average {
  font-size: 18px;
}

.review-text {
  font-family: Roboto Mono;
  font-style: normal;
  font-weight: 300;
  font-size: 16px;
  line-height: 25px;
  text-align: right;
  color: #FFFFFF;
  width: 455px;
}

.reviewer-img {
  border-radius: 50%;
  object-fit: cover;
  z-index: 1;
}

.review-img {
  position: relative;
  /* background-color: deepskyblue; */
}

.reviewer-img-outline {
  width: 115px;
  height: 115px;
  border: 1px solid #C4C4C4;
  border-radius: 50%;
  position: absolute;
  top: 12px;
  right: 12px;
  background-color: black;
}

.all-reviews {
  overflow: scroll;
  height: 400px;
  /* background-color: green; */
  padding-bottom: 20px;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
}

.cart-container {
  margin-top: 5em;
  position: relative;
}

.cart-display {
  display: flex;
  align-items: center;
  text-align: center;
  justify-content: space-between;
  background-color: white;
  width: 455px;
  height: 75px;
  border: 1px solid white;
  border-radius: 10px
}

.add {
  display: flex;
  justify-content: space-evenly;
  align-items: center;
  height: 100%;
  background-color: white;
  color: black;
  width: 90px;
  font-family: Roboto Mono;
  font-style: normal;
  font-weight: 300;
  font-size: 36px;
  line-height: 32px;
  text-align: center;
  border-radius: 10px;
  color: #000000;
}

.add h1 {
  font-family: Roboto Mono;
  font-weight: 300;
  font-size: 32px;
  color: palevioletred;
}

.bag {
  background-color: black;
  height: 100%;
  width: 300px;
  margin-right: 30px;
  text-align: center;
}

.add-bag {
  width: 200px;
}

.adjuster:hover {
  color: pink;

}

.add-bag p {
  font-family: Roboto Mono;
  font-style: normal;
  font-weight: 300;
  font-size: 24px;
  line-height: 32px;
  text-align: center;
  color: #FFFFFF;
  padding-top: 5px;
}

.add-bag p:hover {
  color: palevioletred;
}

.product-price {
  width: 50px;
  display: flex;
  align-items: center;
  justify-content: center;


}

.product-price h1 {
  font-family: Roboto Mono;
  font-style: normal;
  font-weight: 300;
  font-size: 26px;
  line-height: 32px;
  text-align: center;
  color: palevioletred;
  margin-right: 55%;
  background-color: white;
}

.cart-icon {
  color: palevioletred;
  font-weight: 200;
}

.basket {
  position: relative;
}

.cart-number {
  position: absolute;
  top: 42px;
  left: 48px;
  z-index: 1;
  font-family: Roboto Mono;
  font-style: normal;
  font-weight: 200;
  font-size: 10px;
  line-height: 32px;
  text-align: center;
}

.product-header, .price{
  color: black;
}
